@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html,
body {
  height: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
}

#__next {
  height: 100%;
}

* {
  font-family: 'Inter', -apple-system, sans-serif!important;
  /*font-size: 14px;*/
}
