.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-height: 100%!important;
    overflow: hidden;
}

.component {
    flex-grow: 1;
    overflow: auto;
    max-height: 100%;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow: auto;
}
.aside {
    width: 20%;
    resize: horizontal;
}
